body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:powderblue;
}

h1 {
    font-family: sans-serif;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#new-task-input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

#tasks-list {
    list-style: none;
    padding: 0;
}

#tasks-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#tasks-list li span {
    flex-grow: 1;
    margin-right: 10px;
}